/* Webfonts start */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900)

/* Webfonts end */

/* Start layout elements */

body {
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	background-color: #449966;
	font-size: 140%;
	}

#main_container {
	width: 900px;
  	background-color: #2C5EA8;
  	margin: 0px auto 0px auto;
  	border-width: 10px;
  	border-style: solid;
  	border-color: #fff;
  	box-shadow: 0 0 20px #666666;
  	border-radius: 10px;
  	}

h1 {
	margin: 10px auto 10px 20px;
	text-shadow: 1px 1px #fff;
	color: rgba(44, 94, 168, .9);
	font-style: oblique;
	font-size: 300%;
	}
	
h2[id] {
	margin: 10px auto 10px 20px;
	text-shadow: 2px 2px #666;
	color: #fff;
	font-family: Source Sans Pro, sans-serif;
	}

h3[id] {
	margin: 10px auto 10px 20px;
	text-shadow: 2px 2px #666;
	color: #fff;
	}

p {
	padding: 0px 20px;
   	color: #ffffff;
   	line-height: 1.3em;
   	text-indent: 5px;
   	}

ul {
	color: #fff;
	margin: 20px 0px;
	}

ol {
	color: #fff;
	width: 840px;
	line-height: 1.3em;
	list-style-type: lower-roman;
	text-align: left;
	}

#begin_article {
	background-color: rgb(168, 177, 189);
	width: 860px;
	margin: 0px auto;
	padding: 20px
	}

/* End layout elements */


/* Begin presentation elements */

blockquote {
	color: #fff;
	}

img {
	border: double;
	border-width: 5px;
	}
	
/* End presentation elements */
			 
			 

/* Begin link related elements */

a:link {
	color: #fff;
	text-decoration: underline;
	font-weight: normal;
	padding: 5px;
	}

a:visited {
	color: #fff;
	}

a:hover {
	color:#F59714;
	font-weight:normal;
	}

a:active {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
	}

#main_nav li {
	display: inline;
	margin: 0px 15px;
	color: #fff;
	}

/* End link related elements */
