p {padding: 5px;}

#zero {color: white;
		background-color: #CC7F14;}

p#one {color: white;
	   background-color: #99723D;}

p#two {color: white;
	   background-color: #FF4900;}

p#three {color: white;
	     background-color: #33FFA5;}

p#four {color: white;
	    background-color: #14CC47;}